.open{
        text-align: center;
        background: transparent;
        position: relative;
        z-index: 1;
        height: 100%;
        width: 100%;
        
        
    
}
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital@1&display=swap');


/*  TITLE  */
.span {
  color: white;
  font-family: 'Bebas Neue', cursive;
  font-size: 5em;
  /* position: absolute; */
  top: 50%;
  left: 50%;
  transform: translate(50%,50%);
  background-image: linear-gradient(#ffd700, gold);
  background-size: 100% 10px;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  transition: background-size .7s, background-position .5s ease-in-out;
}

.img{
    background-image: linear-gradient(176deg, #22313F 70%, #F4F4F4 calc(70% + 2px))
}



.span:hover {
  color : black;
  background-size: 100% 100%;
  background-position: 0% 100%;
  transition: background-position .7s, background-size .5s ease-in-out;
}

.open1{
    font-size: 30px;
    font-family: "Roboto Condensed" ;
}


#about{
    color: rgb(25, 0, 255);
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }

  /*  BUTTONS  */
  .button {

    background-color: #ffd700 !important;
   
    --border: 5px;    /* the border width */
    --slant: 0.7em;   /* control the slanted corners */
    --color: #ffd700; /* the color */
    --colors : #2ce6f3;
    
    font-size: 15px;
    padding: 1.4em 4.2em;
    border: none;
    cursor: pointer;
    font-weight: bold;
    color: var(--color);
    background: 
       linear-gradient(to bottom left,var(--colors)  50%,#0000 50.1%) top right,
       linear-gradient(to top   right,var(--colors)  50%,#0000 50.1%) bottom left;
    background-size: calc(var(--slant) + 1.3*var(--border)) calc(var(--slant) + 1.3*var(--border));
    background-repeat: no-repeat;
    box-shadow:
      0 0 0 200px inset var(--s,#0000),
      0 0 0 var(--border) inset var(--color);
    clip-path: 
        polygon(0 0, calc(100% - var(--slant)) 0, 100% var(--slant),
                100% 100%, var(--slant) 100%,0 calc(100% - var(--slant))
               );
    transition: color var(--t,0.3s), background-size 0.5s;
  }
  .button:focus-visible {
    outline-offset: calc(-1*var(--border));
    outline: var(--border) solid #000c;
    clip-path: none;
    background-size: 0 0;
  }
  .button:hover,
  .button:active{
    background-size: 100% 100%;
    color: #fff;
    --t: 0.2s 0.1s;
  }
  .button:active {
    --s: #0005;
    transition: none;
  }
  
  .image {
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
  
  .visible {
    opacity: 1;
  }
  
  
  /* body {
    display:grid;
    grid-auto-flow:column;
    grid-gap:20px;
    place-content:center;
    margin:0;
    height:100vh;
  } */

.btn{
  display: flex;
  justify-content: center;
  margin-left: 200px;
  margin-top: 100px;
}

.btn button{
  margin-right: 350px;
}

@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");



.p {
	margin: auto;
}

.large {
	font-size: 6rem;
}

.small {
	font-size: 3rem;
}

.rise {
	text-shadow: -0.01em -0.01em 0.01em #000;
	animation: rise 2s ease-in-out 0.5s forwards;
}

@keyframes rise {
	to {
		text-shadow: 0em 0.01em #ff5, 0em 0.02em #ff5, 0em 0.02em 0.03em #ff5,
			-0.01em 0.01em #333, -0.02em 0.02em #333, -0.03em 0.03em #333,
			-0.04em 0.04em #333, -0.01em -0.01em 0.03em #000, -0.02em -0.02em 0.03em #000,
			-0.03em -0.03em 0.03em #000;
		transform: translateY(-0.025em) translateX(0.04em);
	}
}


/*  IMAGES  */
.image {
  display: flex;
  flex-direction: column;
}

.image img {
  margin-top: 100px; 
}


.about{
  
  margin-top: 100px;
  
}

.h2{
  font-family: 'Bebas Neue', cursive;
}

.p{
  font-family: "Roboto Condensed" ;
  margin-left: 100px;
  margin-right: 100px;
  font-size: 30px;
}




.image_container {
  display: flex;
  align-items: center;
  margin-top: 100px;
}
/* .text-container {
  margin-left: 100px;
} */


/* img {
  max-width: 100%;
  height: auto;
} */

